@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-asterBg text-asterText;
  font-family: "Segoe UI", "Noto Sans", system-ui, sans-serif;
  margin: 0;
}
